Options All -Indexes

RewriteEngine On
RewriteBase /scholarship/

RewriteRule ^config/ - [F,L]
RewriteRule ^func/ - [F,L]
RewriteRule ^download/(.+)$ download.php?att_id=$1 [PT,L]
RewriteRule ^login/?$ login.php?action=login [PT,L]
RewriteRule ^logout/?$ login.php?action=logout [PT,L]
RewriteRule ^manage/account/?$ manage_account.php [PT,L]
RewriteRule ^manage/data/edit/(.+)$ manage_data.php?action=edit&data_id=$1 [PT,L]
RewriteRule ^manage/data/new$ manage_data.php?action=new [PT,L]
RewriteRule ^manage/data/new/(.+)$ manage_data.php?action=new&data_id=$1 [PT,L]
RewriteRule ^manage/upload/?$ manage_upload.php [PT,L]
